*,
*::before,
*::after {
  box-sizing: border-box;
}

/* color */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}

/* typography */
html {
  font-size: 62.5%;
}
body {
  font-family: inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 1.8rem;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

/* links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 1.5rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.2s;
}
.link-arrow:hover::after {
  margin-left: 8px;
}
@media screen and (max-width: 768px) {
  .link-arrow {
    font-size: 2rem;
  }
}

/* badgers */
.badger {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  color: #fff;
  border-radius: 20px;
  white-space: nowrap;
}
.badger--primary {
  background-color: var(--color-primary);
}
.badger--secondary {
  background-color: var(--color-secondary);
}
.badger--small {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .badger {
    font-size: 2rem;
  }
  .badger--small {
    font-size: 1.6rem;
  }
}

/* lists */
.list {
  list-style: none;
  color: var(--color-heading);
  padding-left: 0;
}
.list--incline .list__item {
  display: inline-block;
  margin-right: 2rem;
  font-weight: bold;
}
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .list--tick .list__item {
    padding-left: 0.5rem;
  }
}

/* icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  background-color: #f3f9fa;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* button */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-align: center;
  white-space: nowrap;
}
.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background-color: #4193fe;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background-color: #12dcff;
}
.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background-color: #ff4211;
}
.btn--block {
  background-color: #fff;
  color: var(--color-heading);
  border: 1px solid var(--color-heading);
}
.btn--block:hover {
  background-color: var(--color-heading);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.8rem;
  }
}
