<footer class="block--dark footer__block footer">
  <div class="grid container footer__block">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header footer__header">
        <h3 class="collapsible__heading footer__heading">Item 1</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum in vero,
        a cum eligendi quasi ab magnam eveniet odit nam?
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h3 class="collapsible__heading footer__heading">Item 2</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum in vero,
        a cum eligendi quasi ab magnam eveniet odit nam?
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h3 class="collapsible__heading footer__heading">Item 3</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum in vero,
        a cum eligendi quasi ab magnam eveniet odit nam?
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h3 class="collapsible__heading footer__heading">Item 4</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum in vero,
        a cum eligendi quasi ab magnam eveniet odit nam?
      </div>
    </section>
    <div class="footer__brand">
      <img src="images/logo.png" alt="" />
      <p class="footer__copyright">Copyright @ 2020 Mosh</p>
    </div>
  </div>
</footer>
